p {
  color: aqua;
}
small {
  background-color: brown;
}
h3 {
  color: coral;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
